* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3f6f5;
    text-align: center;
    font-size: clamp(0.7rem, 1.5vw, 3rem);
}

h1 {
    color: #272343;
    margin-top: 1em;
}

h2 {
    color: #2d334a;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em 0;
}

form {
    background-color: #fffffe;
    padding: clamp(0.5rem, 3.5vw, 5rem) 6vw;
    border-radius: 0.5em;
}

label {
    color: #272343;
    margin-right: 0.7vw;
    font-size: clamp(0.7rem, 1.5vw, 2.5rem);
}

input {
    padding: 1vh 1vw;
    border-radius: 0.5em;
    background-color: #e3f6f5;
    color: #272343;
    border-color: #272343;
}

input::placeholder {
    color: rgba(39, 35, 67, 0.5);
}

.url-container {
    margin-bottom: 3vh;
}

button {
    background-color: #ffd803;
    color: #272343;
    border: none;
    padding: 1em 2em;
    font-weight: bold;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
    font-size: clamp(0.7rem, 1vw, 2.5rem);
}

button:hover {
    background-color: #272343;
    color: #fffffe;
}

.shortened-container {
    display: none;
}

.error-msg > * {
    color: red;
}

@media (max-width: 50em) {

    main {
        flex-direction: column;
        gap: 7em 0;
    }
}